{% extends "base.html" %}

{% block content %}
    
    <form name="login" align="center" action="/login" method='post'>
            
        <label for="user-name">User Name</label>
        <input id="user-name" type="text" placeholder="Enter User Name" name="username" value="{{username}}" required/>
        <br>
        <br>
        <label for="user-password">Password</label>
        <input id="user-password" type="password" placeholder="Enter password" name="pwd1" required/>
        <br>
        <br>
        <input type="checkbox" checked="checked"> Remember me
        <br>
        <input type="submit" value="Login"/>
        <br>
        <br>
        <span class="psw"><a href="#">Forgot password?</a></span>
        <br>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </form>
{% endblock %}
